---
import Event from '@/layouts/Event.astro'
import BaseHead from '../../components/BaseHead.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts'
import Layout from '@/layouts/layout.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
    />
  </head>
  <body>
    <Layout>
      <Event>
        <main class="h-screen">
          <h1>Hlasdas</h1>
        </main>
      </Event>
    </Layout>
  </body>
</html>
