---
import { Banner, BaseHead } from '@/components'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <BaseHead
      title="Ponentes | Encuentro científico 2024"
      description="Conoce a los ponentes que participarán en el Encuentro científico 2024."
    />
  </head>
  <body>
    <Banner
      title="Ponentes"
      description="Conoce a los ponentes que participarán en el Encuentro científico 2024."
      image="ponentes.jpg"
    />
    <slot />
  </body>
</html>
